#header-inside {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
}

.author-and-date {
  font-size: 10px;
}

div.messages.status, div.messages.status a, div.messages.error a, div.messages.warning a
{ color:#ff0000; text-decoration:underline; }

.field-name-author {
  color: #8BB82A;
  display: inline;
}

.field-name-post-date {
  color: #8BB82A;
  display: inline;
}

.sitename {
  margin-top: 10px;
}

.panel-2col .panel-col-first {
  float: left;
  width: 80%;
}

* html .panel-2col .panel-col-first {
  width: 70.9%;
}

.panel-2col .panel-col-last {
  float: left;
  width: 20%;
}

.logo-image {
  margin-left: 25px;
}

.pane-newsliste-panel-pane-1 .view-id-newsliste .news-full-teaser-block {

  background-image: linear-gradient(white 0%, #8BB82A 200%);
  border-width: 0px;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;


}

.news-teaser-title {
  font-size: 15px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.view-mode-newsteaser .news-teaser-row {
  height: 18px;
}

.view-mode-newsvollansicht h1, h2, h3, h4, h5, h6 {
  margin:25px 0 2px 0;
  line-height:120%;
  text-shadow: 1px 1px 1px #EAF1EA;
}

* html .panel-2col .panel-col-last {
  width: 19.9%;
}

