#header-inside {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
}

.author-and-date {
  font-size: 10px;
}

div.messages.status, div.messages.status a, div.messages.error a, div.messages.warning a
{ color:#ff0000; text-decoration:underline; }

.field-name-author {
  color: #8BB82A;
  display: inline;
}

.field-name-post-date {
  color: #8BB82A;
  display: inline;
}

.sitename {
  margin-top: 10px;
}

.panel-2col .panel-col-first {
  float: left;
  width: 80%;
}

* html .panel-2col .panel-col-first {
  width: 70.9%;
}

.panel-2col .panel-col-last {
  /*background-image: linear-gradient(#EDEDED 0%, #8BB82A 300%);*/
  background-color: #E0E6D2;
  float: left;
  width: 20%;

}

.logo-image {
  margin-left: 25px;
}

.pane-newsliste-panel-pane-1 .view-id-newsliste .news-full-teaser-block,
.view-id-mitarbeiterliste .views-row {

  /*background-image: linear-gradient(#EDEDED 0%, #8BB82A 250%);*/
  background-color: #E0E6D2;
  border-width: 0px;
  border-style: solid;
  border-radius: 0px;
  margin-bottom: 6px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.pane-newsliste-panel-pane-1 .view-id-newsliste .news-full-teaser-block h2 {

  margin-top: 6px;
}

.view-mode-mitarbeitertelefonliste .field-items,
.view-mode-mitarbeitertelefonliste .mailto{

  /*color: #ff0000;*/
  /*display: inline;*/
  float: left;
  margin-right: 0.5em;
  font-size: 15px;
}

.view-mode-mitarbeitertelefonliste .field-name-field-mitarbeiter-bild{
  float: left;
  height: 50px;
  margin-right: 7px;
}

.news-teaser-title {
  font-size: 15px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.view-mode-newsteaser .news-teaser-row {
  height: 18px;
}

.view-mode-newsvollansicht h1, h2, h3, h4, h5, h6 {
  margin:25px 0 2px 0;
  line-height:120%;
  text-shadow: 1px 1px 1px #EAF1EA;
}

.pane-rightsidebarimages-panel-pane-1 h2 {
  margin-top: 5px;
  color: #8b0000;
  text-align: center;
}

.field-name-field-mitarbeiter-bild img{
  margin-left: auto;
  margin-right: auto;
}



}

* html .panel-2col .panel-col-last {
  width: 19.9%;
}

